body, html {
	padding: 0;
	margin: 0;
	height: 100%;
}

.wrapper {
	display: flex;

	.sidebar {
		padding: 15px 2%;
		background: $dark;
		width: 16%;
		min-height: 100vh;
		border-right: 1px solid $accent;

		header {
			margin-bottom: 15px;

			.hero {
				text-decoration: none;
				font-size: 38px;
				letter-spacing: 0.025em;
				text-shadow: 2px 2px $accent;
				margin-top: 0;
				color: $light;	
				font-family: $sans;
				font-weight: 800;
				display: block;
			}
		}

		nav {
			.nav-playlists-year {
				margin-bottom: 16px;

				&-header {
					color: $accent;
					font-family: $sans;
					font-size: 24px;
					margin: 0 0 8px;
					border-bottom: 1px solid $accent;
					cursor: pointer;
					display: flex;
					justify-content: space-between;

					&-title {
						margin: 0;
					}

					&-icon {
						transform: scale(0.7);
						align-self: center;
					}
				}

				&-playlists {
					transition: max-height 0.2s ease-out;
					max-height: 0;
					overflow: hidden;

					.nav-item {
						font-family: $mono;
						text-decoration: none;
						color: $light;
						letter-spacing: 0.025em;
						font-size: 14px;
						line-height: 20px;
						display: block;
						margin-bottom: 6px;

						&.active {
							color: $accent;
						}

						&:hover {
							color: $gray;
						}
					}
				}

				&.active {
					.nav-playlists-year-playlists {
						max-height: 280px;
					}
				}
			}
		}
	}

	.content {
		flex: 1;
		padding: 15px 45px;
		background: $dark-alternate;

		.playlist {
			&-info {
				display: flex;
				margin-bottom: 24px;

				&-image {
					height: 200px;

					img {	
						width: 200px;
						height: 200px;
						object-fit: cover;
					}
				}

				&-text {
					margin-left: 12px;
					display: flex;
					flex-direction: column;

					&-header {
						display: flex;

						&-title {
							text-decoration: none;
							font-size: 36px;
							margin: 0;
							color: $light;	
							font-family: $sans;
							font-weight: 700;
						}

						&-link-icon {
							display: block;
							margin-left: 16px;
							align-self: center;
							color: $light;
							transform: scale(0.7);

							&:hover {
								color: $accent;
							}
						}
					}

					&-description {
						margin: auto 0 0;
						font-size: 13px;
						line-height: 22px;
						border-top: 1px solid $gray;
						border-bottom: 1px solid $gray;
						padding: 18px 0;
						color: $light;
						font-family: $sans;
						font-weight: 300;
						width: 80%;
					}
				}
			}

			&-tracks {
				border-collapse: collapse;
				width: 100%;
				margin-bottom: 32px;

				&-info {
					font-family: $sans;
					text-decoration: none;
					color: $light;
					letter-spacing: 0.025em;
					font-size: 12px;
					margin-bottom: 6px;
					text-align: left;
					text-transform: uppercase;
					font-size: 12px;
					letter-spacing: .125em;
					border-bottom: 1px solid $gray;

					&-type {
						padding: 0 10px 0 0;
						font-weight: 600;

						&.icon {
							transform: scale(0.55);
						}

						&:first-of-type {
							padding: 0 10px;
						}
					}
				}

				&-track {
					font-family: $mono;
					color: $light;
					font-size: 12px;
					border-bottom: 1px solid $gray;

					&:hover {
						background: $accent;
					}

					&:last-of-type {
						border: 0;
					}

					&-info {
						padding: 7px 13px 7px 0;

						&:last-of-type {
							padding: 7px 0;
						}

						&:first-of-type {
							padding: 7px 13px;
						}
					}

					a {
						color: $light;
						text-decoration: none;

						&:hover {
							color: $dark;
						}
					}
				}
			}
		}
	}
}

